---
---

@import "{{ site.theme }}";

@include large {
    max-width: 90rem;   // wider page
    padding: 2rem 2rem; // much smaller side margins
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    max-width: 90rem;
    padding: 2rem 2rem;
    font-size: 1.1rem;
  }